<body class="body-login"></body>
<article class="cont-login">
    <div class="im-login">
        <img src="img/img-login.svg" alt="">
    <div class="cont-form-login">
        <form action="/registro" method="post"></form>
                        <h3 class="title-login"> <strong class="diferen-login">Inicia</strong> Sesion</h3>
                        <div class="input-group-login">
                            <label for="usuario" class="label-login-text">Usuario</label>
                            <input class="input-login" type="text" name="usuario" id="usuario" placeholder="Ejm: emily@gmail.com" autofocus required>
                        </div>
                        <div class="input-group-login">
                            <label for="Contrasena" class="label-login-text">Contraseña</label>
                            <input class="input-login" type="password" name="password" id="Contrasena" placeholder=" ********* " required>
                        </div>
                        <div class="boton-login">
                            <button class="btn-login">Ingresar</button>
                        </div>
                    </form>
    </div>
</article>
</body>