<body class="body-register"></body>
<article class="cont-register">
    <div class="im-register">
        <img src="img/img-register.svg" alt="">
    </div>
    <div class="cont-form-register">
        <form action="/registro" method="post">
                        <h3 class="title-register"> <strong class="diferen-register">Crea</strong> tu cuenta</h3>
                        <div class="input-group-register">
                            <label for="usuario" class="label-register-text">Usuario</label>
                            <input class="input-register" type="text" name="Correo_Usuario" id="usuario" placeholder="Ejm: emily@gmail.com" autofocus required>
                        </div>
                        <div class="input-group-register">
                            <label for="Contrasena" class="label-register-text">Contraseña</label>
                            <input class="input-register" type="password" name="Contrasena" id="Contrasena" placeholder=" ********* " required>
                        </div>
                        <div class="input-group-register">
                            <label for="Contrasena" class="label-register-text">Confirmar Contraseña</label>
                            <input class="input-register" type="password" name="confirm_password" id="Contrasena" placeholder=" ********* " required>
                        </div>
                        <div class="boton-register">
                            <button class="btn-register">Registrarme</button>
                        </div>
                    </form>
    </div>
</article>
</body>