<main class="main">
    <div class="container-index">
        <img class="img-index" src="../img/img-index.jpg" alt="Viatge">
    </div>
    <div class="busqueda-index flex">
        <div class="busqueda-item">
            <h6 class="titulo-item">Destino</h6>
            <div class="subitem flex">
                <i class="fi fi-ts-marker icono-index"></i>
                <h2 class="subtitulo-item">¿Adonde quieres ir?</h2>
            </div>
        </div>
        <div class="busqueda-item">
            <h6 class="titulo-item itemT">Llegada</h6>
            <div class="subitem flex">
                <i class="fi fi-tr-calendar-clock icono-index"></i>
                <h2 class="subtitulo-item">Dom, 15/09/24</h2>
            </div>
        </div>
        <div class="busqueda-item">
            <h6 class="titulo-item itemT">Salida</h6>
            <div class="subitem flex">
                <h2 class="subtitulo-item">Dom, 22/09/24</h2>
            </div>
            
        </div>
        <div class="busqueda-item">
            <h6 class="titulo-item">Personas/Habitaciones</h6>
            <div class="subitem flex">
                <i class="fi fi-tr-users icono-index"></i>
                <h2 class="subtitulo-item">3 Huespedes, 1 Habitacion</h2>
            </div>
        </div>
    </div>
    <div class="btn-buscar">
        <a class="txt-buscar">Buscar</a>
    </div>
    <section class="text-cards">
        <div class="sec-text">
            <h2 class="sec-titulo">
                Comparamos precios de hoteles en múltiples sitios web. 
                Nosotros buscamos. Tú ahorras.
            </h2>
        </div>
        <div class="sec-cards">
            <div class="card">
                <div class="card-img">
                    <img class="img-card" src="../img/img-card1.jpg" alt="">
                </div>
                <div>
                    <h2></h2>
                    <h4></h4>
                    <h4></h4>
                </div>
                <div></div>
            </div>
        </div>
    </section>
    
</main>
