<main class="main">
    <div class="container-index">
        <img class="img-index" src="../img/img-index.jpg" alt="Viatge">
    </div>
    <div class="busqueda-index flex">
        <div class="busqueda-item">
            <h6 class="titulo-item">Destino</h6>
            <div class="subitem flex">
                <i class="fi fi-ts-marker icono-index"></i>
                <h2 class="subtitulo-item">¿Adonde quieres ir?</h2>
            </div>
        </div>
        <div class="busqueda-item">
            <h6 class="titulo-item itemT">Llegada</h6>
            <div class="subitem flex">
                <i class="fi fi-tr-calendar-clock icono-index"></i>
                <h2 class="subtitulo-item">Dom, 15/09/24</h2>
            </div>
        </div>
        <div class="busqueda-item">
            <h6 class="titulo-item itemT">Salida</h6>
            <div class="subitem flex">
                <h2 class="subtitulo-item">Dom, 22/09/24</h2>
            </div>
            
        </div>
        <div class="busqueda-item">
            <h6 class="titulo-item">Personas/Habitaciones</h6>
            <div class="subitem flex">
                <i class="fi fi-tr-users icono-index"></i>
                <h2 class="subtitulo-item">3 Huespedes, 1 Habitacion</h2>
            </div>
        </div>
    </div>
    <div class="btn-buscar">
        <a class="txt-buscar">Buscar</a>
    </div>
    <section class="text-cards">
        <div class="sec-text">
            <h2 class="sec-titulo">
                Comparamos precios de hoteles en múltiples sitios web. 
                Nosotros buscamos. Tú ahorras.
            </h2>
        </div>
        <div class="sec-cards flex">
            <div class="card">
                <div class="card-img">
                    <img class="img-card" src="../img/img-card1.jpg" alt="">
                </div>
                <div class="card-text">
                    <h2>Hotel Isabel</h2>
                    <div class="flex-card">
                        <i class="fi fi-ts-marker"></i>
                        <h4 class="card-titulo">Colinas, Colombia</h4>
                    </div>
                    <div class="flex">
                        <span class="cal-card">8.6</span>
                        <h4 class="card-subtitulo">Excelente - 5800 Comentarios</h4>
                    </div>
                </div>
                <a class="btn-card" href="">Vamos</a>
            </div>
            <div class="card">
                <div class="card-img">
                    <img class="img-card" src="../img/img-card2.jpg" alt="">
                </div>
                <div class="card-text">
                    <h2>Hotel Isabel</h2>
                    <div class="flex-card">
                        <i class="fi fi-ts-marker"></i>
                        <h4 class="card-titulo">Colinas, Colombia</h4>
                    </div>
                    <div class="flex">
                        <span class="cal-card">8.6</span>
                        <h4 class="card-subtitulo">Excelente - 5800 Comentarios</h4>
                    </div>
                </div>
                <a class="btn-card" href="">Vamos</a>
            </div>
            <div class="card">
                <div class="card-img">
                    <img class="img-card" src="../img/img-card3.jpg" alt="">
                </div>
                <div class="card-text">
                    <h2>Hotel Isabel</h2>
                    <div class="flex-card">
                        <i class="fi fi-ts-marker"></i>
                        <h4 class="card-titulo">Colinas, Colombia</h4>
                    </div>
                    <div class="flex">
                        <span class="cal-card">8.6</span>
                        <h4 class="card-subtitulo">Excelente - 5800 Comentarios</h4>
                    </div>
                </div>
                <a class="btn-card" href="">Vamos</a>
            </div>
        </div>
    </section>
    <section class="sec2">
        <h2 class="sec2-titulo">Inspiración para tus próximos viajes</h2>
        <div class="gal-flex">
            <div class="img-sec2">
            <img class="img-gal" src="../img/img-gal.jpg" alt="">
            <h3 class="gal-text">5 destinos inolvidables para pasar con tu pareja</h3>
            </div>
            <div class="img1-sec2">
                <img class="img-gal2" src="../img/img-gal2.jpg" alt="">
                <img class="img-gal2" src="../img/img-gal1.jpg" alt="">
                <h3 class="gal-text1">Los viajes en tren mas espectaculares</h3>
            </div>
        </div>
    </section>
    <section class="sec-actividades">
        <h2 class="act-titulo">Planificador de viajes rápido y sencillo </h2>
        <h3 class="act-subtitulo">Elige un estilo y descubre los principales destinos en Colombia</h3>
        <div class="flex-card">
            <div class="act-sec flex-card">
                <img class="act-img" src="../img/bicicleta.png" alt="">
                <h4 class="act-text">Aire Libre</h4>
            </div>
            <div class="act-sec flex-card">
                <img class="act-img" src="../img/bicicleta.png" alt="">
                <h4 class="act-text">Aire Libre</h4>
            </div>
            <div class="act-sec flex-card">
                <img class="act-img" src="../img/bicicleta.png" alt="">
                <h4 class="act-text">Aire Libre</h4>
            </div>
            <div class="act-sec flex-card">
                <img class="act-img" src="../img/bicicleta.png" alt="">
                <h4 class="act-text">Aire Libre</h4>
            </div>
            <div class="act-sec flex-card">
                <img class="act-img" src="../img/bicicleta.png" alt="">
                <h4 class="act-text">Aire Libre</h4>
            </div>
        </div>
        <div class="sec-cards-act flex">
            <div class="card-act">
                <div class="card-img">
                    <img class="img-card-act" src="../img/img-card1.jpg" alt="">
                </div>
                <div class="card-text">
                    <h2>Hotel Isabel</h2>
                    <div class="flex-card"> 
                        <h4 class="card-titulo-act">Colinas, Colombia</h4>
                    </div>
                </div>
            </div>
            <div class="card-act">
                <div class="card-img">
                    <img class="img-card-act" src="../img/img-card2.jpg" alt="">
                </div>
                <div class="card-text">
                    <h2>Hotel Isabel</h2>
                    <div class="flex-card">
                        <h4 class="card-titulo-act">A 125 km de Bogota</h4>
                    </div>
                </div>
            </div>
            <div class="card-act">
                <div class="card-img">
                    <img class="img-card-act" src="../img/img-card3.jpg" alt="">
                </div>
                <div class="card-text">
                    <h2>Hotel Isabel</h2>
                    <div class="flex-card">
                        <h4 class="card-titulo-act">Colinas, Colombia</h4>
                    </div>
                </div>
            </div>
            <div class="card-act">
                <div class="card-img">
                    <img class="img-card-act" src="../img/img-card3.jpg" alt="">
                </div>
                <div class="card-text">
                    <h2>Hotel Isabel</h2>
                    <div class="flex-card">
                        <h4 class="card-titulo-act">Colinas, Colombia</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="beneficios">
        <div class="flex-card-bene">
            <div class="bene-card">
                <img class="bene-img" src="../img/calendario.png" alt="">
                <h2 class="bene-text">Reserva cuando y donde quieras </h2>
            </div>
            <div class="bene-card">
                <img class="bene-img" src="../img/globo-terraqueo.png" alt="">
                <h2 class="bene-text">Hoteles disponibles en cualquier parte del mundo</h2>
            </div>
            <div class="bene-card">
                <img class="bene-img" src="../img/agente.png" alt="">
                <h2 class="bene-text">Atención al cliente de confianza 24/7</h2>
            </div>
        </div>
    </section>
    
</main>
