<footer class="footer">
    <div class="cont-footer">
        <h2 class="text-footer">¿Quieres recibir ofertas exclusivas para tu próximo viaje?</h2>
        <input class="input-footer" type="text" placeholder="Correo Electronico">
        <a class="btn-footer" href="">Enviar</a>
    </div>
    <div class="icon-footer">
        <div class="icon">
            <i class="fi fi-brands-facebook icons"></i>
            <i class="fi fi-brands-instagram icons"></i>
            <i class="fi fi-brands-tik-tok icons"></i>
            <i class="fi fi-brands-youtube icons"></i>
        </div>
        <h2 class="text2-footer">xxxxxxx N.V, Uniempresarial, 10021 Bogota, Colombia.
        Copyright 2024 VIATGE | Todos los derechos reservados.</h2>
    </div>
</footer>