<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap" rel="stylesheet">
    <title>Galeria de Imagenes</title>
</head>
<body>
    <header>
        <nav class="nav-index">
            <div class="titulo-nav">
                <h5 class="logo"> Septima Puerta</h5>
            </div>
            <ul class="list-nav">
                <li class="item-nav"><a class="nav-link" href="../Index.html">Home</a></li>
                <li class="item-nav"><a class="nav-link" href="../views/MiPrimeraPagina.html">Mi primera Página</a></li>
                <li class="item-nav"><a class="nav-link" href="../views/Periodico.html">Periódico</a></li>
                <li class="item-nav"><a class="nav-link" href="../views/GaleriaDeImagenes.html"  style="color: rgb(114, 140, 228);">Galeria de Imágenes</a></li>
                <li class="item-nav"><a class="nav-link" href="../views/ImagenesResponsivas.html">Imágenes Responsivas</a></li>
            </ul>
        </nav>
    </header>
    <div class="grid-container">
        <div class="grid-cell galery1"></div>
        <div class="grid-cell galery2"></div>
        <div class="grid-cell galery3"></div>
        <div class="grid-cell galery4"></div>
        <div class="grid-cell galery5"></div>
        <div class="grid-cell galery6"></div>
        <div class="grid-cell galery7"></div>
        <div class="grid-cell galery1"></div>
        <div class="grid-cell galery2"></div>
        <div class="grid-cell galery3"></div>
        <div class="grid-cell galery4"></div>
        <div class="grid-cell galery5"></div>
        <div class="grid-cell galery6"></div>
        <div class="grid-cell galery7"></div>
    </div>
</body>
</html>