<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.cdnfonts.com/css/chomsky" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Septima Puerta</title>
</head>
<body>
    <header class="header">
        <section class="section1">
            <div class="superior">
                <i class="fa-solid fa-magnifying-glass"></i>
                <div class="linkSuperior">
                    <a href="../Index.html">Home</a>
                    <a href="">E.S</a>
                    <a href="">Internacional</a>
                    <a href="">Colombia</a>
                    <a href="">Español</a>
                </div>
                <div class="botones">
                    <button class="botonsus">Suscribirse</button>
                    <button class="botonlog">log in</button>
                </div>
            </div>
            <div class="medio">
                <h6 class="fecha">Miercoles, julio 31 , 2024 </h6>
                <h1 class="Titulo">Septima puerta</h1>
                <h6>Colombia</h6>
            </div>
        </section>
        <nav class="navar">
            <ul class="opciones">
                <li class="opcion">Colombia <a class="flecha" href=""><i class="fa-solid fa-caret-down"></i></a></li>
                <li class="opcion">Mundo <a class="flecha" href=""><i class="fa-solid fa-caret-down"></i></a></li>
                <li class="opcion">Trabajo <a class="flecha" href=""><i class="fa-solid fa-caret-down"></i></a></li>
                <li class="opcion">Artes <a class="flecha" href=""><i class="fa-solid fa-caret-down"></i></a></li>
                <li class="opcion">Estilo de vida <a class="flecha" href=""><i class="fa-solid fa-caret-down"></i></a></li>
                <li class="opcion">Opinion <a class="flecha" href=""><i class="fa-solid fa-caret-down"></i></a></li>
                <li class="opcion">Audio <a class="flecha" href=""><i class="fa-solid fa-caret-down"></i></a></li>
                <li class="opcion">Imagenes <a class="flecha" href=""><i class="fa-solid fa-caret-down"></i></a></li>
                <li class="opcion">Juegos <a class="flecha" href=""><i class="fa-solid fa-caret-down"></i></a></li>
            </ul>
        </nav>
        <div class="liveDatos">
            <a class="LiveDato dato" href="">Live</a>
            <a class="dato" href="">Extraterrestres</a>
            <a class="dato" href="">Mitos</a>
            <a class="dato" href="">Leyendas</a>
            <a class="dato" href="">Cosmos</a>
        </div>
    </header>
    <section class="section2">
        <div class="noticias">
            <div class="noticia ">
                <div class="noticiaflex">
                    <a class="rojo" href="">2</a>
                    <a class="azul" href="">0</a>
                    <a class="rojo" href="">2</a>
                    <a class="azul" href="">4</a>
                </div>
                <div class="noticiaTexto">
                    <h2 class="tituloNot">Visitó una casa abandonada en EE.UU. y lo que encontró lo dejó horrorizado</h2>
                    <h5 class="textoNot">En una inquietante incursión nocturna, el usuario de TikTok conocido como @briscoepark, compartió una escalofriante experiencia vivida al adentrarse en una casa abandonada en una zona rural de Estados Unidos. Los detalles de su inquietante encuentro dejaron consternados a sus seguidores.</h5>
                    <a class="leermas" href="">Leer mas</a>
                </div>
            </div>
            <hr>
            <div class="noticia">
                <h2 class="tituloNot">'Tiktoker' jugó a la ouija y ahora vive experiencias paranormales</h2>
                    <h5 class="textoNot">Un ‘influencer’ llamado Efrén tomó la iniciativa de ir al mercado de Sonora, en la Ciudad de México, que es conocido por ofrecer productos esotéricos, para hallar una tabla ouija. Sin embargo, no encontró una que fuera de su agrado, por lo que recaudó fondos para adquirir una que se ajustara a su gusto por medio de una tienda virtual.</h5>
                    <a class="leermas" href="">Leer mas</a>
            </div>
            <hr>
            <div class="noticia">
                <h2 class="tituloNot">¿Cuántas civilizaciones extraterrestres existen en la Vía Láctea, según la Unam?</h2>
                    <h5 class="textoNot">La interrogante sobre la existencia de vida inteligente en otras partes del cosmos es uno de los enigmas más fascinantes que enfrentamos. Nuestra galaxia, la Vía Láctea, alberga millones de estrellas similares a nuestro Sol, lo que hace que la idea de que estamos solos sea cada vez más cuestionable.</h5>
                    <a class="leermas" href="">Leer mas</a>
            </div>
        </div>
        <div class="imagen1">
            <img class="img1" src="/img/imagen1.png" alt="">
            <img class="img1" src="/img/imagen3.png" alt="">
        </div>
    </section>
    <div class="semanal">
        <span class="spansem">Semanal</span>
        <div class="linea"></div>
    </div>
    <section class="d-flex container section3">
        <div class="col-8 s3div">
            <h2 class="titulo2">Seres extraterrestres podrían vivir entre nosotros, según investigación de Harvard</h2>
            <div class="linea"></div>   
            <h6 class="texto2">Investigadores de 'The Human Flourishing Program', un programa del Instituto de Ciencias Sociales Cuantitativas de la institución académica, publicaron que los fenómenos aéreos no identificados podrían ser naves espaciales de seres extraterrestres. Sin embargo, es necesario aclarar que estos hallazgos aún no han sido evaluados por pares y no existe evidencia con respaldo científico sobre el tema. </h6>
        </div>
        <div class="col-4">
            <img class="img1" src="/img/imagen4.png" alt="">
        </div>
    </section>
    <section class="section4">
        <div class="s4div">
            <img class="s4img" src="/img/publicidad1.png" alt="">
        </div>
    </section>
    <div class="semanal">
        <span class="spansem">Sorprendente</span>
        <div class="linea"></div>
    </div>
    <section class="d-flex container section3">
        <div class="col-4 s3div">
            <h2 class="titulo2">El mito de la 'niña fantasma' que cuida a las mujeres en estación de TransMilenio</h2>
            <div class="linea"></div>   
            <h6 class="texto2">Algunas son eclipsadas por la inseguridad, otras por la jocosidad y, unas cuantas más, por el misterio y las incógnitas que albergan en las noches y las madrugadas. Uno de estos mitos el albergado en la estación Bicentenario, donde se dice que una niña cuida a las mujeres. Este mito fue originalmente contado por Howard Gutiérrez. </h6>
        </div>
        <div class="col-4">
            <img class="img1" src="/img/imagen5.png" alt="">
        </div>
        <aside class="col-4 aside1">
            <img class="img2" src="/img/publicidad2.png" alt="">
    </section>
    <div class="semanal">
        <span class="spansem">Recomedados</span>
        <div class="linea"></div>  
    </div>
    <section class="section4 container d-flex">
        <div class="col-4 s4Col">
            <div class="card" style="width: 18rem;">
                <img src="/img/imgcard2.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Desconcierto por hallazgo de ‘esqueleto de sirena’ a la orilla de una playa</h5>
                  <p class="card-text">El hallazgo fue hecho por una mujer quien subió las fotografías a redes sociales.</p>
                  <a href="#" class="btn btn-primary">Leer Mas</a>
                </div>
              </div>
        </div>
        <div class="col-4 s4Col">
            <div class="card" style="width: 18rem;">
                <img src="/img/imgcard1.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Historias del Cosmos: en busca de compañía extraterrestre</h5>
                  <p class="card-text">¿Estamos solos en el vasto universo? Esta pregunta siempre ha intrigado a la humanidad.</p>
                  <a href="#" class="btn btn-primary">Leer Mas</a>
                </div>
              </div>
        </div>
        </div>
        <div class="col-4 s4Col">
            <div class="card" style="width: 18rem;">
                <img src="/img/imgcard3.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Los tres fantasmas que se aparecen en pueblo de Colombia en Semana Santa</h5>
                  <p class="card-text">Los habitantes de Mompox, Bolívar, aseguran que estos espíritus se aparecen en Semana Santa.</p>
                  <a href="#" class="btn btn-primary">Leer mas</a>
                </div>
              </div>
        </div>
        </div>
    </section>
    <footer class="footerper">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
                <h1 class="TituloFooter">Septima puerta</h1>
              <ul>
                <li><i class="fa-brands fa-facebook"></i></li>
                <li><i class="fa-brands fa-twitter"></i></li>
                <li><i class="fa-brands fa-instagram"></i></li>
              </ul>
            </div>
            <div class="col-lg-4">
              <h3>Contacto</h3>
              <p>Correo electrónico: SeptimaPuerta@gmail.com</p>
              <p>Teléfono: 123-456-7890</p>
            </div>
            <div class="col-lg-4">
              <h3>Derechos de autor</h3>
              <p>(c) 2024 Septima Puerta. Todos los derechos reservados.</p>
            </div>
          </div>
        </div>
      </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/4b2b6c3339.js" crossorigin="anonymous"></script>

</html>